<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Interview API Suite">
<!--    <listeners>-->
<!--        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>-->
<!--    </listeners>-->

    <test name="API">
<!--        <classes>-->
<!--            <class name="player.PlayerDeleteTests">-->
<!--                <methods>-->
<!--                    <include name="deletePlayerById"/>-->
<!--                    <include name="deletePlayerByIdAsUser"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--        </classes>-->
        <packages>
            <package name="player.*"/>
        </packages>
    </test>
</suite>